.manage-events-container {
  padding: 20px;
  background-color: #f7f7f7;
  min-height: 70vh;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-actions {
  margin-top: 10px;
}

.edit-button, .delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.edit-event-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-edit-button, .cancel-edit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.cancel-edit-button {
  background-color: #6c757d;
}

.save-edit-button:hover {
  background-color: #333;
}

.cancel-edit-button:hover {
  background-color: #5a6268;
}
.notification-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.notification-close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.notification-container p {
    margin: 0;
}