.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
  font-size: 2.2em;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.profile-info {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}

.signed-up-events {
  margin-bottom: 20px;
}

.events-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.events-list {
  list-style-type: none;
  padding-left: 0;
}

.event-item {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.admin-dashboard-button,
.logout-button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-dashboard-button:hover,
.logout-button:hover {
  background-color: #555;
}

.unregister-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.unregister-button:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.unregister-button:focus {
  outline: none;
  box-shadow: 0 0 5px darkred;
}

.rate-event-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 10px;
}

.rate-event-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.rate-event-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}